body {
  min-height: 100vh;
  margin: 0px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #234;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #234;
}

a.router-link-active {
  color: #4b8;
}

img {
  max-width: 100%;
}
